ww4ntent="width=device-width, initial-scale=1.0">
    <title>Practical 12</title>
</head>
<body>
    <p id="p1"> Silver Oak University</p>
</body>
<script>
    var p1 = document.getElementById("p1");
    p1.style.color="Blue";
    let i = 16;
    var a = setInterval(()=>{
        p1.style.fontSize=i+"px";
        i=i+4
        if(i>50)
        {
            clearInterval(a);
        }
    },1000);
</script>
</html>